<section class="vh-100">
    <div class="container-fluid h-custom">
        <router-outlet></router-outlet>
    </div>
    <div
        class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0">
            Complaint Portal
        </div>
        <!-- Copyright -->

        <!-- Right -->
        <div>
            <a routerLink="/dashboard" class="text-white me-4">
                <button class="btn btn-success btn-sm">Dashboard</button>
            </a>
            <a routerLink="/new-complaint" class="text-white me-4">
                <button class="btn btn-success btn-sm">New Complaint</button>
            </a>
            <a routerLink="/complaint-list" class="text-white me-4">
                <button class="btn btn-success btn-sm">Complaint List</button>
            </a>
            @if (loggedUserData.role == 'admin') {
                <a routerLink="/department" class="text-white me-4">
                    <button class="btn btn-success btn-sm">Department</button>
                </a>
            }
            
                        <a class="text-white me-4">
                <i class="fa fa-user"></i> {{loggedUserData?.userName}}
            </a>
            <a class="text-white me-4">
                <button class="btn btn-success btn-sm" (click)="onLogoff()">Logoff</button>
            </a>
        </div>
        <!-- Right -->
    </div>
</section>